*{
    margin: auto;
}

body{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
}

li{
    list-style: none;
    font-family: 'Inconsolata', monospace;
}

h1{
    margin-top: 1em;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
}

h2{
    margin-top: 1em;
    font-size: 2rem;
    font-family: 'Inconsolata', monospace; 
}

.addBar{
    padding: 2em;
    margin-top: 2em;
}

.sortingCard{
    width: 50%;
    margin-bottom: 1em;
}

.card{
    background-color: rgba(240, 240, 240, 0.8);
    margin-bottom: 3em;
}

.sortingCard{
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(240, 240, 240);
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 10px;
    padding: 0.5em;
    font-family: 'Inconsolata', monospace;
}

.sortingCard p{
    margin: 0;
    font-family: 'Inconsolata', monospace;   
}

.strikethrough{
    text-decoration: line-through;
}

.fa-square, .fa-check-square, .trashcan{
    float: right;
    margin: 0.5em;
}